/* Fonts: { */
/* font-family: "Sofia", sans-serif; */

/* font-family: "Trirong", serif; */

/* font-family: "Sofia", sans-serif;
  font-size: 30px;
  text-shadow: 3px 3px 3px #ababab; */
/* } */

/* colors: */
:root {
  --white: #edf2fb;
  --light-blue: #e2eafc;
  --light-grey: #d7e3fc;
  --blue-grey: #ccdbfd;
  --blue: #b6ccfe;
  --purple: #abc4ff;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Trirong", serif;
  background-image: url("../images/background.jpg");
  background-color: var(--blue);
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: repeat;
}

/* Nav section */
.navbar {
  background-color: var(--white);
  width: 100%;
  margin-top: -15px;
}

/* Logo */
#logo {
  width: 175px;
  height: 35.5px;
  margin-left: 50px;
  margin-top: -10%;
  margin-bottom: -56.5px;
  border: 3px solid var(--blue);
}

/* Navbar */
#nav {
  display: block;
  overflow: hidden;
  height: 80px;
}
#nav ul {
  float: right;
  list-style: none;
  padding: 14px 16px;
}
#nav ul li {
  float: left;
  padding: 1px 15px;
  font-size: 20px;
}
#nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

#nav ul li a:hover {
  text-decoration: none;
  color: var(--blue);
}
@media screen and (max-width: 700px) {
  #nav {
    display: none;
  }
  #logo {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  #nav-dropdown {
    display: none;
  }
  #dropdown-logo {
    display: none;
  }
}
/* Dropdown under 700px */
#nav-dropdown img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  height: 65px;
  width: 50vw;
}
#nav-dropdown a {
  font-size: 16px;
  color: var(--purple);
  padding: 8px 14px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: 500;
  font-size: x-large;
  text-align: justify;
}
.dropdown-list {
  display: none;
  position: absolute;
  background-color: var(--light-blue);
}
.dropdown-list a:hover {
  border: 1px solid black;
}
.dropdown-list a {
  float: none;
  color: black;
  padding: 12px 1px;
  text-decoration: none;
  display: block;
  width: 100vw;
}
#nav-dropdown:hover .dropdown-list {
  display: block;
}
.dropdown-btn {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 8vh;
  width: 50vw;
  font-size: 20px;
  font-weight: 700;
}
